Repository ritscc/soukai-2024-1, pull requests merged in 2024-09, with the labels that each got.

#6 研推総括完了
  src/soukatsu/kensui/01_zentai.tex
  src/soukatsu/kensui/02_project.tex
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

#7 1kaisei総括執筆
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#8 1kaisei方針執筆
  src/houshin/1kai.tex
Labels: 方針, 回生

#9 全体総括執筆
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#10 全体方針を執筆
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

#11 新歓とプロジェクト活動の総括を作成
  src/soukatsu/zentai/03_shinkan.tex
  src/soukatsu/zentai/04_project.tex
Labels: 総括, 全体

#12 運営総括執筆
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#13 研推方針完了
  src/houshin/kensui/01_zentai.tex
  src/houshin/kensui/02_project.tex
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

#14 2回生の活動方針です
  src/houshin/2kai.tex
Labels: 方針, 回生

#20 渉外局活動方針作成
  src/houshin/syogai/01_zentai.tex
  src/houshin/syogai/02_adokare.tex
  src/houshin/syogai/03_kyokukaigi.tex
  src/houshin/syogai/04_twitter.tex
  src/houshin/syogai/05_web.tex
Labels: 方針, 渉外局

#23 総務方針
  src/houshin/soumu/01_zentai.tex
  src/houshin/soumu/02_huuki.tex
  src/houshin/soumu/03_souzi.tex
  src/houshin/soumu/04_syoki.tex
  src/houshin/soumu/05_gyozi.tex
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

#21 総務総括執筆
  src/soukatsu/soumu/01_zentai.tex
  src/soukatsu/soumu/02_huuki.tex
  src/soukatsu/soumu/03_souzi.tex
  src/soukatsu/soumu/04_syoki.tex
  src/soukatsu/soumu/05_gyozi.tex
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

#18 プロジェクト方針執筆
  src/houshin/zentai/03_project.tex
Labels: 方針, 全体
